<launch>
	<param name="use_sim_time" value="true" />

	<arg name="map_file" default="MAPA_APOGEU.yaml"/>

        <include file="$(find gain_raspi)/launch/move_base.launch" />

        <include file="$(find amcl)/examples/amcl_diff.launch" />

        <node pkg= "map_server" type="map_server" name="mapa" args="$(find gain_raspi)/maps/$(arg map_file)"/>

</launch>


